@font-face {
  font-family: "iconfont"; /* Project id 2817939 */
  src: url('iconfont.woff2?t=1631781927562') format('woff2'),
       url('iconfont.woff?t=1631781927562') format('woff'),
       url('iconfont.ttf?t=1631781927562') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuibiao_o:before {
  content: "\eb59";
}

.icon-caijiqi:before {
  content: "\e64f";
}

