.vxe-table--header-wrapper {
    background-color: #fff !important;
}

//弹窗
.vxe-modal--wrapper .vxe-modal--content {
    white-space: normal !important;
    padding: 0 !important;
}

//分页
.vxe-pager {
    padding-top: 10px !important;
}