@font-face {
  font-family: "iconfont"; /* Project id 2761854 */
  src: url('iconfont.woff2?t=1629684949250') format('woff2'),
       url('iconfont.woff?t=1629684949250') format('woff'),
       url('iconfont.ttf?t=1629684949250') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouqi:before {
  content: "\e7d3";
}

.icon-zhankai:before {
  content: "\e7d4";
}

