@font-face {
  font-family: "iconfont"; /* Project id 2821756 */
  src: url('iconfont.woff2?t=1631932662408') format('woff2'),
       url('iconfont.woff?t=1631932662408') format('woff'),
       url('iconfont.ttf?t=1631932662408') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daoru:before {
  content: "\e621";
}

.icon-zhuanchu:before {
  content: "\e67f";
}

.icon-daochu:before {
  content: "\e657";
}

